<div id="login-div" class="well" style="margin-bottom:10px;" hidden>
  <form id="login-form" class="">
    <div class="form-group">

        <label class="sr-only" for="email-input">Email address</label>
        <p>SELECT MEMBERSHIP LEVEL</p>
        <select class="form-control" id="auth-id-input">
          <option id="auth-id-select-blank"></option>
          <option value="member">Full Member</option>
          <option value="associate">Associate Member</option>
          <option value="guest">Guest</option>
        </select>
      </div>

  </form>
  <span id="login-message"></span>
  <br>
</div>

