<style>

td, tr { font-size: 24px; }

</style>
      <div id="charges-div" class="well" >
        <table>
          <tr>
          <td style="text-align:right">
          &nbsp&nbsp&nbspTotal Time
          </td>
          <td>
          </td>
          <td id='total-time'>
          </td>
          </tr>
          <tr>
          <td style="text-align:right">
          &nbsp&nbspTotal Charge
          </td>
          <td style="text-align:right">
          &nbsp
          &nbsp
          $
          &nbsp
          </td>
          <td id="total-charge">
            00.00
          </td>
          </tr>
        </table>
       <p style="text-align:center" id='charges-message'></p>
    </div>
